<p id="notice"><%= notice %></p>

<p>
  <strong>Project Title:</strong>
  <%= @project_list.title %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= @project_list.description %>
</p>
<hr>
<p>
  <strong>Task Listing</strong>
</p>
<div id="project_tasks_wrapper">

<table><tr><td style="width: 350px;"></td><td style="width: 350px;"></td><td style="width: 350px;"></td></tr></table>
 <%= render @project_list.project_tasks %>
 <div id="form">
  <%= render "project_tasks/form" %>
 </div>


</div>
<hr>
<br>


<%= link_to("Back", project_lists_path, 
          class: "btn btn-xs btn-warning") %>
