<p id="notice"><%= notice %></p>


<p>
  <strong>Project Title:</strong>
  <%= @project_list.title %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= @project_list.description %>
</p>
<hr>
<p>
  <strong>Task Listing</strong>
</p>
<div id="project_tasks_wrapper">

<table><thead class="thead-dark">
<tr>
  <th>Marking</th>
  <th>Task Content</th>
  <th colspan="3"></th>
</tr>
</thead>
<tr><td style="width: 350px;"></td><td style="width: 350px;"></td><td style="width: 350px;"></td></tr>

</table>
<%= render @project_list.project_tasks %>
 

 <div id="form">
  
 </div>


</div>
<hr>
<br>
<div id="new-task">
<%= link_to("Add New Task", new_project_list_project_task_path(@project_list, project_list_id: @project_list.id), remote: true, 
          class: "btn btn-xs btn-success") %>
</div>
<br>
<%= link_to("Back", project_lists_path, 
          class: "btn btn-xs btn-warning") %>
