<div class="row clearfix">
 <% if project_task.done? %>
  <div class="done">
   <%= link_to "Mark as Done", done_project_list_project_task_path(@project_list, project_task.id), method: :patch %>
  </div>
  <div class="project_task">
   <p style="opacity: 0.4;"><strike><%= project_task.content %></strike></p>
  </div>
  <div class="trash">
   <%= link_to "Delete", project_list_project_task_path(@project_list, project_task.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
 <% else %>
 <%= link_to "Mark as Done", done_project_list_project_task_path(@project_list, project_task.id), method: :patch %>
 <div class="done">
   
 </div>
 <div class="project_task">
  <p><%= project_task.content %></p>
  <p><%= project_task.deadline %></p>
  <% project_task.file.each do |file|  %> 
   <%= link_to file.filename, file %>
   <% end %>
 </div>

  <div class="trash">
   <%= link_to "Delete", project_list_project_task_path(@project_list, project_task.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
 <% end %>
</div>