<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        
        <%= link_to 'Project Tracker', root_path, class: "navbar-brand" %>
        <% if current_user %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          

          
          <li class="col-md-8 user-name text-right">
            <i class="fa fa-user"></i>
            <%= current_user.email %>
          </li>
          <li class="col-md-4 logout"><%= link_to("logout", destroy_user_session_path, 
class: "btn btn-xs btn-warning", method: :delete) %></li>
        
        <% else %>
          <li class="col-md-4 logout"><%= link_to("login", new_user_session_path, 
          class: "btn btn-xs btn-success") %></li>
        <% end %>

        </div>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>

  </body>
</html>
